   <div class="container-fluid">
     <div class="row-fluid">
       <div class="span12">
         <div class="hero-unit">
           <h2>Todo lo que quieres saber sobre Soxialit</h2>
         </div>
		<div class="navbar">
			<div class="navbar-inner">
		    	<ul class="nav">
		        	<li class="active"><a href="faq">FAQ's</a></li>
		            <li><a href="terms">Términos</a></li>
		            <li><a href="privacy">Privacidad</a></li>
		        </ul>
		    </div>
		 </div>
         <div class="row-fluid">
           <div class="span12">
             <h2>Sobre Soxialit...</h2>
             <p class="literatura">Soxialit es una red social que conecta a los amantes de la Moda. <br/>Donde puedes descubrir y compartir contenido sobre moda, ademas de comprar productos directamente de diseñadores independientes y 
			    boutiques.</p>
             <p class="literatura">Contacto: </p>
			 <p class="literatura">Email: <strong>info@soxialit.com</strong></p>
			 <p class="literatura">Estamos ubicados en <strong>Mexico, DF </strong></p>
           </div><!--/span-->
             <h2>Por donde comenzar</h2>
             <p class="literatura">Encuentra como crear una cuenta en Soxialit, editar tu perfil y otras respuestas sobre como ser parte de Soxialit.</p>
			 <p class="literatura"><strong>¿Cómo creo una cuenta en Soxialit?</strong>
			 </p>
			 <p class="literatura">No puedo recordar mi contraseña, ¿qué hago?</p>
			 <p class="literatura">¿Cómo puedo cambiar mi nombre de usuario?</p>
			 <p class="literatura">¿Cómo puedo cambiar el email que esta registrado?</p>	
		<!--	 <p class="literatura">¿Cómo desactivo mi cuenta en Soxialit?</p>
			 <p class="literatura">¿Puedo tener mas de una cuenta?</p> -->
			 <p class="literatura"><a class="btn" href="#">View details &raquo;</a></p>
            
             <h2>Compradores</h2>
             <p class="literatura">Aprende como comprar un producto, cancela una orden de compra y otras respuestas relacionadas con el proceso de compra de un producto.</p>
			 <p class="literatura-link"><strong>¿Cómo compro un producto en Soxialit?</strong><br/>
			 <span style="display:none"class="literatura">Después de haber creado tu cuenta en Soxialit, puedes comprar productos haciendo click en el botón de compra en un producto, también puedes añadir productos a tu lista de "loves".</span></p>
			 <p class="literatura-link"><strong>Paso 1. Comprar</strong><br/>
			 <span style="display:none"class="literatura">Al dar click en el botón de compra se desplegara un menú con el resumen de tu compra, a continuación deberás seleccionar el método de envío que mas te convenga y dar click en elegir.</span></p>
			 <p class="literatura-link"><strong>Paso 2. Envíos</strong><br/>
			 <span style="display:none" class="literatura">	Cada vendedor ha especificado sus opciones de envío, deberás seleccionar alguna opción del menú y dar click en elegir. Este costo de envío se sumara el precio total del producto.</span></p>
			 <p class="literatura-link"><strong>Paso 3. Servicio de pagos</strong><br/>
			 <span style="display:none" class="literatura">Selecciona el servicio de pago que desees, tienes dos opciones a elegir MercadoPago ó Paypal, al dar clic en alguna de estas dos opciones serás redireccionado a la plataforma de pagos.</span></p>
			 <p class="literatura-link"><strong>Paso 4. Notificación de compra</strong><br/>
			 <span style="display:none" class="literatura">Al ser direccionado a la plataforma de pagos debes completar el proceso de compra, simplemente sigue las instrucciones. Al terminar recibirás información con tu pago, nosotros nos pondremos en contacto contigo para finalizar el proceso de compra y envio.</span></p>
			 <p class="literatura-link"><strong>¿Cómo puedo cancelar una compra?</strong><br/>
			 <span style="display:none" class="literatura">Dentro de Soxialit podrás cancelar en cualquier momento tu compra, siempre y cuando no hayas finalizado el proceso de compra dentro de las plataformas de pago MercadoPago ó PayPal. <br/>
				Si has concluido tu pago dentro de estos sistemas, te pedimos consultes las paginas de ayuda de MercadoPago ó PayPal.</span></p> 
             <h2>Vendedores</h2>
             <p class="literatura">Descubre cómo vender en Soxialit, publicar tus propios productos, nuestro proceso de pagos y todo lo relacionado con vender a través de Soxialit.</p>
			 <p class="literatura-link"><strong>¿Cómo puedo vender en Soxialit?</strong><br/>
			 <span style="display:none" class="literatura">Durante el proceso de suscripción debes elegir el perfil de "Designer" ó "Boutique Store".<br>
			 (Si has elegido algún otro perfil enviamos un correo a info@soxialit.com con tu información para configurar tu perfil.)<br/>
			 Dentro de tu perfil da click en "crear un producto" y comienza con la descripción de tu producto.</span></p>
			 <p class="literatura-link"><strong>¿Cómo publico un producto?</strong><br/>
				 <span style="display:none" class="literatura">
				 	Quieres vender en Soxialit he! muy bien, aquí te explicamos como: <br/>
					Primero debes tener un perfil de "Designer" ó "Boutique Store".<br/>
					Dentro de tu perfil da click en "crear un producto".<br/>
					Encontraras una forma que deberás llenar con la información de producto, aquí deberás escribir lo siguiente:<br/>
					*Titulo del producto: escribe el nombre característico de tu prenda.<br/>
					*Descripción: aquí es tu oportunidad para enamorar a los clientes, describe todos los detalles de tu producto.<br/>
					*Fotos: describe tu producto con imágenes, puedes subir hasta 4 imágenes por cada producto, la primera foto que subas será la foto principal de tu producto.<br/>
					*Tags: anota que palabras describen a tu producto, escribe una palabra y espera a que el buscador auto complete tu búsqueda, tenemos una amplia base de datos.<br/>
					*Medidas/tallas: anota que tallas ó medidas tiene tu producto y cuales puedes ofrecer a los clientes.<br/>
					*Cantidad: que inventario de tu producto tienes, se puede anotar máximo la cantidad de 5.<br/>
					*Precio: este es el precio de tu producto, posteriormente se le sumara a él, el costo del envío.<br/>
					*Color: que colores de tu producto ofreces.<br/>
					*Políticas de devolución: establece las condiciones en las cuales aceptarías devolver el dinero que el usuario ha pagado por tu producto.<br/>
					*Opciones de envío: aquí debes seleccionar que métodos de envío tienes para tus productos, hemos elegido por default dos opciones, envío dentro de DF y envío al interior del país, estas dos opciones cubren gran parte de nuestros clientes, es recomendable llenar ambos campos.
				</span>
			 </p>
			 <p class="literatura-link"><strong>¿Cómo edito un producto que ya cree?</strong><br/>
			 <span style="display:none" class="literatura">Dentro de tu perfil encontraras todos los productos que has creado, allí encontraras el botón "Editar" para modificar el producto que desees.</span></p>			
			 <p class="literatura-link"><strong>¿Cómo cancelo una publicación activa?</strong><br/>
			 <span style="display:none" class="literatura">Dentro de tu perfil encontraras los productos que has creado, allí encontraras el botón "Borrar" para eliminar el producto que desees.</span></p>
			 <p class="literatura-link"><strong>¿Cual es el costo por publicar y vender un producto a través de Soxialit?</strong><br/>
			 <span style="display:none" class="literatura">Durante la versión beta de Soxialit cobraremos $15 pesos por cada venta, ademas del porcentaje que cobran las compañías de pagos(MercadoPago y Paypal).</span></p>
			 <p class="literatura-link"><strong>¿Qué es PayPal?</strong><br/>
			 <span style="display:none" class="literatura">	Es un servicio rápido, seguro y confiable que permite al usuario enviar dinero en linea sin compartir su información confidencial, se necesita tener una cuenta de PayPal activa para poder utilizar este servicio.<br/>
				Comúnmente se utiliza para pagar con tarjetas de crédito.
			 </span></p>
			 <p class="literatura-link"><strong>¿Qué es MercadoPago?</strong><br/>
			 <span style="display:none" class="literatura">Lo mismo que PayPal este servicio también goza de ser rápido, seguro y confiable. La diferencia de este servicio es que te permite hacer pagos en cualquier tienda OXXO aumentando así la facilidad y la cantidad de lugares donde el cliente puede pagar.</span></p>
			 <p class="literatura-link"><strong>¿Cómo esta integrado PayPal y MercadoPago con Soxialit?</strong><br/>
			 <span style="display:none" class="literatura">Todos los pagos son procesados a través de estos dos servicios para asegurar que la información es segura y esta protegida. Cuando el cliente comprar un producto éste será redireccionado a cualquiera de estas plataformas y utilizara su servicio de manera segura para terminar la transacción.</span></p>
			 <p class="literatura-link"><strong>¿Qué productos se pueden vender?</strong><br/>
			 <span style="display:none" class="literatura">Soxialit ofrece un espacio para el comercio en linea para productores, artistas y distribuidores para vender productos hechos a mano y productos fashion, estos productos deben ser de alguna de las siguientes categorías: accesorios, ropa y zapatos.</span></p>
			 <p class="literatura-link"><strong>¿Qué productos no se pueden vender?</strong><br/>
			 <span style="display:none" class="literatura">En Soxialit solamente se pueden listar productos "nuevos" y que sean de alguna de las categorías: zapatos, accesorios y ropa. Cualquier producto fuera de estas especificaciones será borrado y se notificara al usuario el motivo.</span></p>
			 <p class="literatura-link"><strong>¿Qué pasa si mi producto tiene muchas variaciones de tallas?</strong><br/>
			 <span style="display:none" class="literatura">Se recomienda especificar este tipo de variaciones en el campo de descripción del producto, es aquí donde puedes enamorar al cliente con tu producto.</span></p>
			 <p class="literatura-link"><strong>¿Que especificaciones deben tener las fotos del producto?</strong><br/>
			 <span style="display:none" class="literatura">	Las fotos deben ser de un formato aceptable (.jpg, .png, .gif) ademas de que el tamaño no debe ser mayor a 1MB por foto, de otro modo, el sistema rechazara ésta foto.</span></p>
			 <p class="literatura-link"><strong>¿Alguna recomendación para tomar mejores fotos?</strong><br/>
			 <span style="display:none" class="literatura">Hemos colocado una guía para tomar las mejores fotos de tu producto y con un esfuerzo mínimo, las fotografías son una factor clave si quieres vender por Internet, por eso deben ser impecables y le debes dedicar un esfuerzo significativo.</span></p>
			 <p class="literatura-link"><strong>¿Que comisión me cobran los servicios de pago (MercadoPago y PayPal)?</strong><br/>
			 <span style="display:none" class="literatura">	MercadoPago cobra una comisión del 3.99% sobre el costo total de la venta.<br/>
				Referencia: <%= link_to 'MercadoPago',"https://www.mercadopago.com/mlm/ml.faqs.framework.main.FaqsController?
				pageId=FAQ&faqId=3000&categId=money&reDir=Y" %>
				<br/>
				PayPal cobra una comisión del 4% sobre el costo total de la venta.<br/>
				Referencia: <%= link_to 'PayPal', "https://www.paypal.com/mx/webapps/mpp/general-fees" %></span></p>
			 <p class="literatura-link"><strong>¿Que pasa después de haber vendido un producto?</strong><br/>
			 <span style="display:none" class="literatura">Serás notificado vía correo electrónico con la información detallada del producto que han comprado, del servicio de envío que ha elegido el cliente y la información del cliente que ha adquirido tu producto.<br/>
			 En ese momento deberás ponerte en contacto con el cliente para enviarle su producto.</span></p>
			 <p class="literatura-link"><strong>¿Cómo recibo el pago por parte del comprador?</strong><br/>
			 <span style="display:none" class="literatura">Después de recibir el pago por parte del cliente Soxialit te depositara  la cantidad que reste del total de la venta menos la comisión por el servicio de cobros(PayPal ó MercadoPago) y menos la comisión de Soxialit ($15 pesos durante la etapa beta).</span></p>
			
				
             <h2>Problemas generales</h2>
             <p class="literatura">Reporta un problema con la plataforma, te gustaría que Soxialit fuera diferente, encuentra cómo.</p>
  			 <p class="literatura-link"><strong>¿Cómo reporto un problema que tuve dentro de Soxialit?</strong><br/>
			 <span style="display:none" class="literatura">Soxialit esta en continuos cambios y sabemos que no somos inmunes a cometer errores, así que si encuentras algún problema dentro de la plataforma te pedimos tu comprensión y seria de mucha ayudar que nos envíes tu <%= link_to 'Feedback', feedbacks_path %> con el problema que encontraste. <br/>
			 Siempre eres libre de comentar y ayudarnos a mejorar esta plataforma.</span></p>
			 <p class="literatura-link"><strong>¿Cómo puedo enviarles feedback?</strong><br/>
			 <span style="display:none" class="literatura">En todo momento esta visible en la parte barra superior un link de <%= link_to 'Feedback', feedbacks_path %> aquí podrás enviarnos todos tus comentarios, también tenemos abierto para ti nuestro correo electrónico <strong>info@soxialit.com</strong></span></p>
			<hr>
         </div><!--/row-->
       </div><!--/span-->
     </div><!--/row-->
   </div><!--/.fluid-container-->


<!--	 <h2>Dentro de Soxialit</h2>
    <p class="literatura">Tienes dudas sobre, ¿qué hacer dentro de Soxialit?. Aqui tenemos mas información.</p>
	 <p class="literatura">¿Dónde encuentro mi perfil?</p>
	 <p class="literatura">¿Qué es newsfeed?</p>
	 <p class="literatura">¿Qué es follow?</p>
	 <p class="literatura">¿Dónde encuentro a mis followers?
	 <p class="literatura">¿Dónde encuentro los items que me han gustado(loves)?
		<p class="literatura">¿Cómo publico contenido? 
    <p class="literatura"><a class="btn" href="#">View details &raquo;</a></p> -->

<script>
$(document).ready(function(){
	$('.literatura-link').live('click', function(){
		$('span.literatura').hide("blind", {}, 500);
		$(this).find('span').show("blind", {}, 500);
	});
});

</script>
