   <div class="container-fluid">
     <div class="row-fluid">
       <div class="span12">
         <div class="hero-unit">
           <h2>Todo lo que quieres saber sobre Soxialit</h2>
         </div>
		<div class="navbar">
			<div class="navbar-inner">
		    	<ul class="nav">
		        	<li class="active"><a href="faq">FAQ's</a></li>
		            <li><a href="terms">Términos</a></li>
		            <li><a href="privacy">Privacidad</a></li>
		        </ul>
		    </div>
		 </div>
         <div class="row-fluid">
           <div class="span4">
             <h2>Sobre Soxialit...</h2>
             <p class="literatura">Soxialit es una red social que conecta a los amantes de la Moda. <br/>Donde puedes descubrir, compartir y comprar productos directamente de diseñadores independientes y 
			    boutiques.</p>
             <p class="literatura">Contacto: </p>
			 <p class="literatura">Email: <strong>info@soxialit.com</strong></p>
			 <p class="literatura">Estamos ubicados en <strong>Mexico, DF </strong></p>
           </div><!--/span-->
           <div class="span4">
             <h2>Por donde comenzar</h2>
             <p class="literatura">Encuentra como crear una cuenta en Soxialit, editar tu perfil y otras respuestas sobre como ser parte de Soxialit.</p>
			 <p class="literatura">¿Cómo creo una cuenta en Soxialit?</p>
			 <p class="literatura">No puedo recordar mi contraseña, ¿qué hago?</p>
			 <p class="literatura">¿Cómo puedo cambiar mi nombre de usuario?</p>
			 <p class="literatura">¿Cómo puedo cambiar el email que esta registrado?</p>	
		<!--	 <p class="literatura">¿Cómo desactivo mi cuenta en Soxialit?</p>
			 <p class="literatura">¿Puedo tener mas de una cuenta?</p> -->
			 <p class="literatura"><a class="btn" href="#">View details &raquo;</a></p>
           </div><!--/span-->
           <div class="span4">
             <h2>Dentro de Soxialit</h2>
             <p class="literatura">Tienes dudas sobre, ¿qué hacer dentro de Soxialit?. Aqui tenemos mas información.</p>
			 <p class="literatura">¿Dónde encuentro mi perfil?</p>
			 <p class="literatura">¿Qué es newsfeed?</p>
			 <p class="literatura">¿Qué es follow?</p>
			 <p class="literatura">¿Dónde encuentro a mis followers?
	    	 <p class="literatura">¿Dónde encuentro los items que me han gustado(loves)?
				<!-- <p class="literatura">¿Cómo publico contenido? -->
	         <p class="literatura"><a class="btn" href="#">View details &raquo;</a></p>
           </div><!--/span-->
         </div><!--/row-->
         <div style="margin-top:5%" class="row-fluid">
           <div class="span4">
             <h2>Compradores</h2>
             <p class="literatura">Aprende como comprar un producto, cancela una orden de compra y otras respuestas relacionadas con el proceso de compra de un producto.</p>
			 <p class="literatura">¿Cómo compro un producto en Soxialit?</p>
			 <p class="literatura">Paso 1. Comprar</p>
			 <p class="literatura">Paso 2. Envios </p>
			 <p class="literatura">Paso 3. Servicio de pagos </p>
			 <p class="literatura">Paso 4. Notificación de compra </p>
			<!-- <p class="literatura">¿Cómo puedo buscar un producto en Soxialit?</p>
			 <p class="literatura">¿Cómo puedo cancelar una compra?</p> -->
             <p class="literatura"><a class="btn" href="#">View details &raquo;</a></p>
           </div><!--/span-->
           <div class="span4">
             <h2>Vendedores</h2>
             <p class="literatura">Descubre cómo convertirte en un vendedor, publicar tus propios productos, nuestro proceso de pagos y todo lo relacionado con vender a través de Soxialit.</p>
			 <p class="literatura">¿Cómo me convierto en un vendedor?</p>
			 <p class="literatura">¿Qué productos se pueden vender?</p>
			 <p class="literatura">¿Qué productos no se pueden vender?</p>
			 <p class="literatura">¿Qué pasa si mi producto tiene muchas variaciones de tallas?</p>
             <p class="literatura"><a class="btn" href="#">View details &raquo;</a></p>
           </div><!--/span-->
           <div class="span4">
             <h2>Problemas generales</h2>
             <p class="literatura">Reporta un problema con la plataforma, te gustaría que Soxialit fuera diferente, encuentra cómo.</p>
  			 <p class="literatura">¿Cómo reporto un problema que tuve dentro de Soxialit?</p>
			 <p class="literatura">¿Cómo puedo enviarles feedback?</p>
             <p class="literatura"><a class="btn" href="#">View details &raquo;</a></p>
           </div><!--/span-->
         </div><!--/row-->
       </div><!--/span-->
     </div><!--/row-->
   </div><!--/.fluid-container-->
