<div class="hero-unit" style="background: white">
	<% if user_signed_in? %>
		<h2><strong><%= "#{current_user.username}," %> </strong> prueba la aplicación:</h2>
		<p style="text-align: center"><%= link_to "Crea un producto", new_product_path, :class => "button-want" %></p>
		<% else %>
			<h1><strong style="color: #00B174">Designer </strong> bienvenido a Soxialit</h1>
			<br/>
			<p> Esta app ha sido creada para conocer tus necesidades y problemas.</p>
			<p>Aquí podrás: </p>
			<p>1. Crear productos, conocer la interfaz que hemos diseñado para ti y probar que tan fácil es utilizarla.</p>
			<p>2. Después de haber iniciado sesión podrás ver el feed de productos y que tú y los demás usuarios han creado (en la pestaña "Productos Random"). </p>
			<p>3. Enviarnos tu retroalimentación, hemos preparado una forma para que nos ayudes con tus comentarios (en la pestaña "Feedback"). </p>
			
			<p>Continúa con nosotros: </p>
			<p style="text-align:center; font-size: 20px">
				<%= link_to 'Inicia sesión con facebook', '/auth/facebook/', :class => "btn btn-primary" %>
			</p>
	<% end %>
</div>