<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="hero-unit">
        <h2>Todo lo que quieres saber sobre Soxialit</h2>
      </div>
		<div class="navbar">
			<div class="navbar-inner">
		    	<ul class="nav">
		        	<li><a href="faq">FAQ's</a></li>
		            <li><a href="terms">Términos</a></li>
		            <li class="active"><a href="privacy">Privacidad</a></li>
		        </ul>
		    </div>
		 </div>
      <div class="row-fluid">
        <h1><strong>Términos de privacidad</strong></h1>
		<p>Respetamos tu derecho a la mantener tu información privada.<br/>
		No daremos a conocer tu nombre o información personal a terceros.<br/>
		PayPal y MercadoPago son las encargadas de procesar todas las transacciones que se realizan a través de Soxialit, nadie mas tendrá acceso a tu información de tarjetas de crédito ademas de ellos, tampoco nosotros.</p>
		<h2>Información personal</h2>
		<p>Nos comunicaremos contigo a través del correo con el que te registraste, procuraremos ser objetivos y solamente te enviaremos la información relevante a tu cuenta y a tu actividad dentro de Soxialit.</p>
		<h2>Seguridad</h2>
		<p>Soxialit utiliza la tecnología SSL (Secure Sockets Layer), esta tecnología proporciona autenticación y privacidad de la información entre externos mediante el uso de criptografía. Para evitar ataques o algún comportamiento inusual dentro del sitio, Soxialit utiliza una herramienta estadística para monitorear las IP's a través de las cuales los usuarios permanecen en el sitio, esta información solamente se reconoce con fines de seguridad y privacidad.<br/>
		Soxialit hará lo posible por mantener la plataforma segura, sin embargo no es una garantía de que lo sea al 100%.</p>
		<h2>Preguntas</h2>
		<p>Cualquier pregunta ó sugerencia, por favor contáctanos en: <strong>info@soxialit.com</strong> ó en nuestra forma de <strong><%=link_to "Feedback", "#" %></strong></p>
      </div><!--/row-->
    </div><!--/span-->
  </div><!--/row-->
</div><!--/.fluid-container-->
