<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="hero-unit">
        <h2>Todo lo que quieres saber sobre Soxialit</h2>
      </div>
		<div class="navbar">
			<div class="navbar-inner">
		    	<ul class="nav">
		        	<li><a href="faq">FAQ's</a></li>
		            <li class="active"><a href="terms">Términos</a></li>
		            <li><a href="privacy">Privacidad</a></li>
		        </ul>
		    </div>
		 </div>
      <div class="row-fluid">
        <h1><strong>Términos y condiciones</strong></h1>
		<p>FAVOR DE LEER CUIDADOSAMENTE ESTOS TÉRMINOS DE USO (“ACUERDO” O “TÉRMINOS DE USO”) ANTES DE USAR LOS SERVICIOS QUE OFRECE www.soxialit.com (“ASOCIACIÓN”). 
		Al utilizar y accesar al sitio web, www.soxialit.com (denominado como el "Sitio" ó "Soxialit" en estos términos de servicio), usted ("usted", "usuario" o "usuario final") acepta estos Terminos de Servicio (en adelante, los "Terminos de Servicio" ó "Acuerdo").</p>
		<h2>Aceptación de Términos</h2>
		<p>El Servicio es ofrecido sujeto a la aceptación, sin modificación, de todos los términos y condiciones aquí incluidos (los “Términos de Uso”), que incluyen la Política de Privacidad disponible en www.soxialit.com/privacidad y todas las reglas operacionales, políticas y procedimientos que puedan ser publicados ocasionalmente en “El Sitio” por la Asociación, cada una de las cuales es incorporada por referenciar, y cada una de las cuales puede ser actualizada por la Asociación en cualquier momento sin aviso previo. Además, algunos servicios ofrecidos por el Sitio pueden quedar sujetos a términos y condiciones adicionales promulgados por la Asociación en cualquier momento; el uso de dichos servicios está sujeto a dichos términos y condiciones adicionales, que son incorporados a estos Términos de Uso por esta referencia.</p>
		<h2>Sitios de terceros</h2>
		<p>El Sitio puede contener enlaces a otros sitios web mantenidos por terceros. Estos enlaces se proporcionan únicamente para su conveniencia y no implica la aprobación de, o asociación con el sitio Soxialit.</p>
		<h2>Modificación de términos de uso</h2>
		<p>La Asociación se reserva el derecho, a su discreción, a modificar o remplazar cualquier Término de Uso, o cambiar, suspender o descontinuar el Servicio (incluyendo, sin limitación, la disponibilidad de algún elemento, base de datos o contenido) en cualquier momento, publicando una nota en el Sitio o enviando un correo electrónico a los interesados. La Asociación también puede imponer límites a ciertos elementos y servicios o restringir el acceso a partes del Servicio sin responsabilidad o notificación. Es responsabilidad del Usuario revisar los Términos de Uso periódicamente en busca de cambios. El uso continuo del Servicio tras la publicación de cualquier cambio a los Términos de Uso constituye la aceptación de dichos cambios.</p>
		<h2>Términos de uso</h2>
		<p>Soxialit tiene el derecho de terminar o suspender inmediatamente, en discreción, tu acceso hacia todo el contenido o parte de él, emitiendo u omitiendo algún aviso ante este acontecimiento.</p>
		<h2>Renuncia de garantía</h2>
		<p>Usted acepta expresamente que el uso del Sitio es bajo su propio riesgo y discreción. El Sitio y todo el contenido y otra información contenida en el Sitio se proporciona "TAL CUAL" y "SEGÚN SU DISPONIBILIDAD" sin garantía de ningún tipo, ya sea expresa o implícita. Soxialit no garantiza que (i) el Sitio y el contenido o la información será ininterrumpido, oportuno, seguro o libre de errores, (II) los resultados que puedan obtenerse del uso de este Sitio será eficaz, precisa y fiable. El Sitio puede incluir errores técnicos, imprecisiones o errores tipográficos. Soxialit se reserva el derecho de modificar el contenido del sitio y de la información en cualquier momento sin previo aviso.</p>
		<h2>Límite de responsabilidad</h2>
		<p>En ningún caso Soxialit o sus filiales serán responsables de daños indirectos, incidentales, especiales, punitivos o daños consecuentes de ningún tipo, ni de ningún tipo que surja de o relacionados con su uso del Sitio, el contenido y otra información obtenida en el mismo.</p>
		<p>Algunas jurisdicciones prohíben la exclusión o limitación de responsabilidad por daños consecuenciales o incidentales, por lo tanto, las limitaciones anteriores pueden no aplicarse en su caso.</p>
		<h2>Ley aplicable</h2>
		<p>Cualquier disputa que surja de o esté relacionada con estas Condiciones de servicio y / o cualquier otro uso que usted haga del Sitio se regirán por las leyes de la México, sin tener en cuenta los conflictos de disposiciones legales en el mismo.</p>
		<p>Publicado con autorización de Termsfeed.
      </div><!--/row-->
    </div><!--/span-->
  </div><!--/row-->
</div><!--/.fluid-container-->
