<div class="modal-soxialit">
  <div class="modal-body">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
	<div class="tabbable">
	   <li style="float:right" class="size_label"><a href="#tab3" id="tab_hombre" data-toggle="tab">Hombre</a></li>
	   <li class="size_label"><a href="#tab3" id="tab_mujer" data-toggle="tab">Mujer</a></li>
	   <ul id="nav_mujer" class="nav nav-tabs">
	        <li class="active"><a href="#tab1" data-toggle="tab">Resumen de tallas mujer</a></li>
	        <li class=""><a href="#tab2" data-toggle="tab">Calzado</a></li>
	   		<li class=""><a href="#tab3" data-toggle="tab">Pantalones/faldas</a></li>
	   </ul>
	   <ul style="display:none" id="nav_hombre" class="nav nav-tabs">
	        <li class="active"><a href="#tab4" data-toggle="tab">Resumen de tallas hombre</a></li>
	        <li class=""><a href="#tab5" data-toggle="tab">Calzado</a></li>
	   		<li class=""><a href="#tab6" data-toggle="tab">Pantalones</a></li>
	   </ul>
      <div id="content_mujer" class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
         <div class="tab-pane active" id="tab1">
				<table style="width: 37%" class="table table-condensed">
				              <thead>
				                <tr>
				                  <th style="width:50px"></th>
				                  <th style="width: 100px">Pecho (cm)</th>
				                  <th>Pecho (pulg.)</th>
				                </tr>
				              </thead>
				              <tbody>
				                <tr>
				                  <td>XS</td>
				                  <td>82</td>
				                  <td>32</td>
				                </tr>
				                <tr>
					              <td>S</td>
				                  <td>67</td>
				                  <td>26</td>
				                </tr>
				                <tr>
					              <td>M</td>
				                  <td>72</td>
				                  <td>28</td>
				                </tr>
								 <tr>
									<td>L</td>
					                <td>77</td>
					                <td>30</td>
					             </tr>
								 <tr>
									<td>XL</td>
					                <td>87</td>
					                <td>34</td>
					             </tr>
				              </tbody>
				            </table>
         </div>
         <div class="tab-pane" id="tab2">
			<table style="width: 37%" class="table table-condensed">
			              <thead>
			                <tr>
			                  <th style="width:50px">Talla zapato</th>
			                  <th style="width: 100px">Centímetros</th>
			                </tr>
			              </thead>
			              <tbody>
			                <tr>
			                  <td>1</td>
			                  <td>20</td>
			                </tr>
			                <tr>
				              <td>3</td>
			                  <td>21.5</td>
			                </tr>
			                <tr>
				              <td>4</td>
			                  <td>22.4</td>
			                </tr>
							 <tr>
								<td>5</td>
				                <td>23</td>
				             </tr>
							 <tr>
								<td>6</td>
				                <td>24</td>
				             </tr>
							 <tr>
								<td>7</td>
				                <td>25</td>
				             </tr>
							 <tr>
								<td>8</td>
				                <td>26</td>
				             </tr>
			              </tbody>
			            </table>
			       </div>
         <div class="tab-pane" id="tab3">
				<table style="width: 37%" class="table table-condensed">
				              <thead>
				                <tr>
				                  <th style="width:50px"></th>
				                  <th style="width: 100px">Cintura</th>
				                  <th>Cadera</th>
				                  <th>Largo</th>
				               </tr>
				              </thead>
							<thead>
				                <tr>
				                  <th style="width:50px"></th>
				                  <th style="width: 100px">Pulg. (cm)</th>
				                  <th style="width: 100px">Pulg. (cm)</th>
				                  <th style="width: 100px">Pulg. (cm)</th>
				                </tr>
				              </thead>
				              <tbody>
				                <tr>
				                  <td>XS</td>
				                  <td>24(61)</td>
				                  <td>35(89)</td>
				                  <td>32-24(82-84)</td>
				                </tr>
				                <tr>
					              <td>S</td>
				                  <td>26(66)</td>
				                  <td>37(94)</td>
				                  <td>34-36(88-90)</td>
				                </tr>
				                <tr>
					              <td>M</td>
				                  <td>28(71)</td>
				                  <td>39(99)</td>
								  <td>34-26(88-90)</td>
				                </tr>
								 <tr>
									<td>L</td>
					                <td>30(76)</td>
					                <td>41(104)</td>
					                <td>34-36(88-90)</td>
					             </tr>
								 <tr>
									<td>XL</td>
					                <td>30(76)</td>
					                <td>41(104)</td>
									<td>36-38(93-95)</td>
					             </tr>
				              </tbody>
				            </table>
			 </div>
       </div>
	</div>
	 <div id="content_hombre" class="tab-content" style="display:none; padding-bottom: 9px; border-bottom: 1px solid #ddd;">
         <div class="tab-pane active" id="tab4">
			<table style="width: 37%" class="table table-condensed">
			              <thead>
			                <tr>
			                  <th style="width:50px"></th>
			                  <th style="width: 100px">Pecho (cm)</th>
			                  <th>Pecho (pulg.)</th>
			                </tr>
			              </thead>
			              <tbody>
			                <tr>
			                  <td>XS</td>
			                  <td>90-95</td>
			                  <td>36-38</td>
			                </tr>
			                <tr>
				              <td>S</td>
			                  <td>95-100</td>
			                  <td>38-40</td>
			                </tr>
			                <tr>
				              <td>M</td>
			                  <td>100-105</td>
			                  <td>40-42</td>
			                </tr>
							 <tr>
								<td>L</td>
				                <td>105-110</td>
				                <td>42-44</td>
				             </tr>
							 <tr>
								<td>XL</td>
				                <td>110-115</td>
				                <td>44-46</td>
				             </tr>
			              </tbody>
			            </table>
         </div>
         <div class="tab-pane" id="tab5">
			<table style="width: 37%" class="table table-condensed">
			              <thead>
			                <tr>
			                  <th style="width:50px">Talla zapato</th>
			                  <th style="width: 100px">Centímetros</th>
			                </tr>
			              </thead>
			              <tbody>
			                <tr>
			                  <td>1</td>
			                  <td>20</td>
			                </tr>
			                <tr>
				              <td>3</td>
			                  <td>21.5</td>
			                </tr>
			                <tr>
				              <td>4</td>
			                  <td>22.4</td>
			                </tr>
							 <tr>
								<td>5</td>
				                <td>23</td>
				             </tr>
							 <tr>
								<td>6</td>
				                <td>24</td>
				             </tr>
							 <tr>
								<td>7</td>
				                <td>25</td>
				             </tr>
							 <tr>
								<td>8</td>
				                <td>26</td>
				             </tr>
			              </tbody>
			            </table>
			 </div>
         <div class="tab-pane" id="tab6">
				<table style="width: 37%" class="table table-condensed">
				              <thead>
				                <tr>
				                  <th style="width:50px"></th>
				                  <th style="width: 60px">Tallas</th>
				                  <th>Cintura(cm)</th>
				                  <th>Largo(cm)</th>
				               </tr>
				              </thead>
				              <tbody>
				                <tr>
				                  <td>XS</td>
				                  <td>28-29</td>
				                  <td>72-74</td>
				                  <td>82</td>
				                </tr>
				                <tr>
					              <td>S</td>
				                  <td>30-31</td>
				                  <td>76-78</td>
				                  <td>83</td>
				                </tr>
				                <tr>
					              <td>M</td>
				                  <td>32-33</td>
				                  <td>82-84</td>
								  <td>84</td>
				                </tr>
								 <tr>
									<td>L</td>
					                <td>34-35</td>
					                <td>87-89</td>
					                <td>85</td>
					             </tr>
								 <tr>
									<td>XL</td>
					                <td>34-35</td>
					                <td>87-89</td>
									<td>85</td>
					             </tr>
				              </tbody>
				            </table>
		         </div>
       </div>
	</div>

  </div>
</div>

<script>
	$(document).ready(function(){
		$('#tab_hombre').click(function(){$('#nav_mujer').hide();});
		$('#tab_hombre').click(function(){$('#nav_hombre').show();});
		$('#tab_hombre').click(function(){$('#content_hombre').show();});
		$('#tab_hombre').click(function(){$('#content_mujer').hide();});
		$('#tab_mujer').click(function(){$('#nav_hombre').hide();});
		$('#tab_mujer').click(function(){$('#nav_mujer').show();});
		$('#tab_mujer').click(function(){$('#content_mujer').show();});
		$('#tab_mujer').click(function(){$('#content_hombre').hide();});
	});

</script>