<div style="margin-left:-15%; margin-right: -15%;" id="contenedor" class="clearfix masonry">
	<%= render @products %>
</div>

<!--<%= link_to 'New Product', new_product_path %> -->

<script type="text/javascript">

(function() {
  var page = 1, // current page
      loading = false; // currently loading a new page?
  
  function nearBottomOfPage() {

    return $(window).scrollTop() > $(document).height() - $(window).height() - 200;
  }

  $(window).scroll(function(){
    if (loading) { // do nothing if already loading a new page
      return;
    }

   // var wall = new Masonry( document.getElementById('contenedor') );
	
	var wall = new Masonry( document.getElementById('contenedor'), {
	    // options...
	    isResizable: true
	  });
    
    if(nearBottomOfPage()) {
      loading=true;
      page++;
	 $("#loading_image").fadeIn();
		
      $.ajax({ // send an ajax-request to load the next page
        url: '/products?page=' + page,
        type: 'get',
        dataType: 'script',
        success: function() { // after successfully completing the ajax-request redraw the sausage-navigation.
	      $("#loading_image").hide(); // hide ajax loader         
    
          $(window).sausage('draw');
          loading=false;
        }
      });
    }
  });
    
  $(window).sausage();
}());


var anchor = $('<a>', {'style':'display:block', 'id': 'image_top', 'class':'back_to_top', 'href':'#top', 'title': 'Back to Top', 'text': 'Top'});  anchor.appendTo($(document.body))    .hide();

	$(window).scroll(function(event){
	      if(getScrollTop() > 150) {
	          anchor.fadeIn(300);
	      } else {
	          anchor.fadeOut(300, function() {$(this).hide();});
	      }
	  });function getScrollTop() { 
 var x = 0;    x = x !== 0 ? top : (window.pageYOffset ? window.pageYOffset : 0);    x = x !== 0 ? x : (document.documentElement ? document.documentElement.scrollTop : 0);    x = x !== 0 ? x : (document.body ? document.body.scrollTop : 0);    return x;}
  
  </script>