$('#want_<%= dom_id(@product) %>').replaceWith('<i class="icon-star-empty icon-white"></i><span id="vote"> <%= pluralize @product.reputation_value_for(:votes).to_i, "Want" %></span>');
$('span#want_<%= @product.id %>').remove();
