<footer class="footer">
  <div class="span4">
    <p style="float:left; font-size:0.8em">&#169; Soxialit</p>
	<p style="font-size:0.8em; margin-left: 40%">   Contacto: info@soxialit.com </p>
  </div>
 
</footer>
